<div class="modal fade ocr-entry-detail">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">关闭</span></button>
                <h4 class="modal-title">OCR 名单</h4>
            </div>
            <div class="modal-body">
           
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary btnSave">导入名单</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">返回</button>
        </div>
    </div>
</div>
